---
layout: layouts/base.njk
title: Cooking Tips
---

<h1>Random Cooking Tip</h1>

<button id="load-tip">Get a Tip</button>
<p id="tip-output"></p>

<script src="/scripts/dynamic-tip.js"></script>
